/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/death_file
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/pdpexcel
.idea/.gitignore
.idea/covid-jateng.iml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/phpunit.xml
/.idea/inspectionProfiles/Project_Default.xml
.idea
*.iml
/public/vendor/horizon/app.css
/public/vendor/horizon/app.js
/public/vendor/horizon/app-dark.css
/public/vendor/horizon/img/favicon.png
/public/vendor/horizon/img/horizon.svg
/public/vendor/horizon/mix-manifest.json
/public/vendor/horizon/img/sprite.svg
